<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <meta content="" name="robots">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="后台管理" name="description">

    <!-- PAGE TITLE HERE -->
    <title>后台管理</title>

    <!-- Datatable -->
    <link rel="stylesheet" th:href="@{/css/chartist.min.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <!-- Style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <!-- Custom Stylesheet -->


</head>

<body>
<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="waviy">
        <span style="--i:1">加</span>
        <span style="--i:2">载</span>
        <span style="--i:3">中</span>
        <span style="--i:4">.</span>
        <span style="--i:5">.</span>
        <span style="--i:6">.</span>
    </div>
</div>
<!--*******************
    Preloader end
********************-->
<!--**********************************
        Nav header start
    ***********************************-->
<div class="nav-header">
    <a class="brand-logo" th:href="@{/backIndex}">
        <img alt="logo" class="img-thumbnail " style="width: 70%; height: auto" id="logo-4"
             src="/assets/image/logo-4.png}">
    </a>
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<!--**********************************
    Nav header end
***********************************-->

<!--**********************************
        Header start
    ***********************************-->
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class=" navbar-nav header-right alert alert-primary alert-dismissible fade show"
                 style="height:60%; margin-top: 5mm">
                <svg class="me-2" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                    <line x1="9" x2="9.01" y1="9" y2="9"></line>
                    <line x1="15" x2="15.01" y1="9" y2="9"></line>
                </svg>
                <strong>欢迎使用 xx 公司后台管理</strong>
            </div>
        </nav>
    </div>
</div>
<!--**********************************
    Header end ti-comment-alt
***********************************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="deznav">
        <div class="deznav-scroll">
            <ul class="metismenu" id="menu">
                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{/user/allMan}">
                        <i class="flaticon-013-checkmark"></i>
                        <span class="nav-text">后台人员</span>
                    </a></li>
                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{/user/allCus}">
                        <i class="flaticon-086-star"></i>
                        <span class="nav-text">客户人员</span>
                    </a></li>
                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{/coy/allCoy}">
                        <i class="flaticon-025-dashboard"></i>
                        <span class="nav-text">运输工具</span>
                    </a></li>
                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{/ctd/allDic}">
                        <i class="flaticon-043-menu"></i>
                        <span class="nav-text">货物税额</span>
                    </a></li>
                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{/wb/all}">
                        <i class="flaticon-013-checkmark"></i>
                        <span class="nav-text">运单信息</span>
                    </a></li>
            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->


    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">运单列表</h4>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-rounded btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModalpopover">
                                <span class="btn-icon-start text-primary"><i class="fa fa-plus color-info"></i>
                                    </span>添加
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalpopover">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">添加运单</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" th:action="@{/wb/addWb}">
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>运单号</strong></label>
                                                    <input class="form-control" name="wbNum" placeholder="运单号"
                                                           type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>运单类型</strong></label>
                                                    <select name="wbType" class="form-control wide mb-3">
                                                        <option selected="selected" value="1">国内运单</option>
                                                        <option value="2">国际运单</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>发件人姓名</strong></label>
                                                    <input class="form-control" name="wbSendName"
                                                           placeholder="发件人姓名" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>发件人手机</strong></label>
                                                    <input class="form-control" name="wbSendPhone"
                                                           placeholder="发件人手机" type="tel">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>发件人地址</strong></label>
                                                    <input class="form-control" name="wbSendAddress"
                                                           placeholder="发件人地址" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>发件时间</strong></label>
                                                    <input class="form-control" name="wbSendTime" placeholder="发件时间"
                                                           type="datetime-local">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>收件人姓名</strong></label>
                                                    <input class="form-control" name="wbReceName"
                                                           placeholder="收件人姓名" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>收件人手机</strong></label>
                                                    <input class="form-control" name="wbRecePhone"
                                                           placeholder="收件人手机" type="tel">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>收件人地址</strong></label>
                                                    <input class="form-control" name="wbReceAddress"
                                                           placeholder="收件人地址" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>签收时间</strong></label>
                                                    <input class="form-control" name="wbReceTime" placeholder="签收时间"
                                                           type="datetime-local">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>运单价格</strong></label>
                                                    <input class="form-control" name="wbPrice" placeholder="运单价格"
                                                           type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>运单状态</strong></label>
                                                    <select name="wbStatus" class="form-control wide mb-3">
                                                        <option selected="selected" value="1">已下单</option>
                                                        <option value="2">已发出</option>
                                                        <option value="3">运输中</option>
                                                        <option value="4">到港</option>
                                                        <option value="5">运输中</option>
                                                        <option value="6">已签收</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>说明信息</strong></label>
                                                    <input class="form-control" name="wbInfo" placeholder="说明信息"
                                                           type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>货物类型</strong></label>
                                                    <select name="cgiType" class="form-control wide mb-3">
                                                        <option selected="selected" value="1">普通物品</option>
                                                        <option value="2">敏感品</option>
                                                        <option value="3">危险品</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>货物名称</strong></label>
                                                    <input class="form-control" name="cgiName" placeholder="货物名称"
                                                           type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>货物编号</strong></label>
                                                    <input class="form-control" name="cgiNumber" placeholder="货物编号"
                                                           type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>货物价值</strong></label>
                                                    <input class="form-control" name="cgiValue" placeholder="货物价值"
                                                           type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>货物说明信息</strong></label>
                                                    <input class="form-control" name="cgiInfo"
                                                           placeholder="货物说明信息" type="text">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light"
                                                            data-bs-dismiss="modal">
                                                        取消
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">添加</button>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="display" id="example4" style="min-width: 845px">

                                    <thead>
                                    <tr>
                                        <th class="align-middle text-center">序号</th>
                                        <th class="align-middle text-center">运单号</th>
                                        <th class="align-middle text-center">类型</th>
                                        <th class="align-middle text-center">发件人</th>
                                        <th class="align-middle text-center">收件人</th>
                                        <th class="align-middle text-center">状态</th>
                                        <th class="align-middle text-center">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="info : ${wbList}">
                                        <td class="py-2 text-center" th:text="${infoStat.count}">#</td>
                                        <td class="py-2 text-center" th:text="${info.wbNum}"></td>
                                        <td class="py-2 text-center"
                                            th:text="(${info.wbType} == 1) ? '国内运单' : '国际运单'"></td>
                                        <td class="py-2 text-center" th:text="${info.wbSendName}"></td>
                                        <td class="py-2 text-center" th:text="${info.wbReceName}"></td>
                                        <td class="py-2 text-center"
                                            th:text="(${info.wbStatus} == 6) ? '已签收' : '运输中'"></td>
                                        <td class="py-2 text-center">
                                            <a th:href="@{/wb/one(id=${info.wbId})}">
                                                <button class="btn btn-square btn-outline-primary">查看</button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; 2022. Ernest </p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script th:src="@{/js/global.min.js}"></script>
<script th:src="@{/js/Chart.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/proj/setUserInfo.js}"></script>
<!-- Apex Chart -->
<script th:src="@{/js/apexchart.js}"></script>
<script th:src="@{/js/jquery.peity.min.js}"></script>
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/dashboard-1.js}"></script>
<!-- Datatable -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatables.init.js}"></script>

<script th:src="@{/js/jquery.nice-select.min.js}"></script>

<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/deznav-init.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>
<script src="../assets/js/test.js"></script>
</body>
</html>