<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>关于</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/preloader.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/progresscircle.css">
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    
    <!-- preloader area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
         
    </div>
    <!-- preloader area end -->

    <!-- header area start  -->
    <header>
        <div class="transparent-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt="site logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                        <div class="main-menu ml-40">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">主页</a></li>
                                    <li><a href="about.html">关于</a></li>
                                    <li><a href="services.html">服务</a></li>
                                    <li><a href="news.html">新闻</a></li>
                                    <li><a href="contact.html">联系</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="header__icons f-right">
                            <ul>
                                <li><a class="nav-search search-trigger" href="#"><i class="pe-7s-search"></i></a></li>
                                <li><a href="#"><i class="pe-7s-cart"></i></a></li>
                                <li><a class="side-toggle" href="javascript:void(0)"><i class="pe-7s-keypad"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- side toggle start  -->
    <div class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset-widget offset-logo mb-30 pb-20">
                    <div class="row align-items-center">
                        <div class="col-9"><a href="index.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i
                                    class="fal fa-times"></i></button></div>
                    </div>
                </div>
                <div class="mobile-menu d-lg-none"></div>
                <div class="offset-widget offset_searchbar mb-30">
                    <form method="get" action="#">
                        <div class="offset_search_content">
                            <input type="search" placeholder="您在查找什么?">
                            <button type="submit" class="offset_search_button"><i class="fal fa-search"></i></button>
                        </div>
                    </form>
                </div>

                <div class="offset-widget mb-40 d-none d-lg-block">
                    <div class="info-widget">
                        <h4 class="offset-title mb-20 d-none">关于我们</h4>
                        <p class="mb-30">上海大众物流有限公司系大众交通（集团）全资子公司，是上海城市配送行业骨干企业、上海市搬场行业
                            五星级企业、上海市交通港口行业AAA级诚信企业、国家经贸委确定的全国34家重点推荐企业和交通部确定的全国18家快运试点企业。 </p>
                        <a href="#" class="c-btn btn-round-02 d-none">联系我们</a>
                    </div>
                </div>

                <div class="row side-gallery gx-4">
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image" href="assets/img/projects/pr-img1.jpg"><img
                                    src="assets/img/projects/pr-img1.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image" href="assets/img/projects/pr-img2.jpg"><img
                                    src="assets/img/projects/pr-img2.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image" href="assets/img/projects/pr-img3.jpg"><img
                                    src="assets/img/projects/pr-img3.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image" href="assets/img/projects/pr-img4.jpg"><img
                                    src="assets/img/projects/pr-img4.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image" href="assets/img/projects/pr-img5.jpg"><img
                                    src="assets/img/projects/pr-img5.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image" href="assets/img/projects/pr-img6.jpg"><img
                                    src="assets/img/projects/pr-img6.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                </div>

                <div class="side-map mt-20 mb-30 d-none d-lg-block">

                </div>



                <div class="contact-infos mt-30 mb-30">
                    <div class="contact-list mb-30">
                        <h4>相关信息</h4>
                        <a href="#" class="">
                            <i class="fal fa-map-marker-alt"></i>
                            <span>广东省广州市玉沙路金城国际大厦</span>
                        </a>
                        <a href="tel:088889797697" class="">
                            <i class="fal fa-phone"></i>
                            <span>0898-66889888</span>
                        </a>
                        <a href="/cdn-cgi/l/email-protection#1b7a7f7672755b7f74767a727535787476" class="">
                            <i class="far fa-envelope"></i>
                            <span><span class="__cf_email__" data-cfemail="2746434a4e496743484a464e490944484a">[12344521@163.com]</span></span>
                        </a>

                    </div>
                    <ul class="footer__social offset-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <!-- side toggle end -->
    <main>
        <!-- page title area start  -->
        <div class="page-title-area d-flex align-items-center p-relative">
            <nav class="breadcrumb-menu" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                    <li class="breadcrumb-item active" aria-current="page">关于</li>
                </ol>
            </nav>
            <div class="container">
                <div class="row align-items-center pt-60">
                    <div class="col-md-7 wow slideInLeft">
                        <div class="page-title-content">
                            <p>想要运输物品到任意地点？</p>
                            <h1>关于我们</h1>
                        </div>
                    </div>
                    <div class="col-md-5 wow slideInRight">
                        <div class="page-title-img f-right d-none d-sm-block">
                            <img src="assets/img/slider/cargo-image-sm.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <!-- about area start  -->
        <section class="about__area pt-160 pb-140 t-50">
            <div class="container">
                <div class="row wow slideInUp">
                    <div class="col-lg-6">
                        <div class="about__img mb-30 ml-70 f-left p-relative">
                            <img src="assets/img/about/about4.jpg" alt="logistics and transport image">
                            <div class="founder tr">
                                <img src="assets/img/about/about5.jpg" alt="">
                                <h6><a href="#">詹杜·威利姆</a></h6>
                                <span>创始人</span>
                            </div>
                            <div class="delivered bl d-none d-md-block">
                                <i class="flaticon-growth"></i>
                                <span>9.6m</span>
                                <p>货物交付量高达</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__content mb-30 pl-45 p-relative pp">
                            <div class="section-title">
                                <span class="category">关于我们</span>
                                <h2>可靠的物流和运输解决方案</h2>
                            </div>
                            <p>上海大众物流有限公司系大众交通（集团）全资子公司，是上海城市配送行业骨干企业、上海市搬场行业“五星级”企业、
                                上海市交通港口行业AAA级诚信企业、国家经贸委确定的全国34家重点推荐企业和交通部确定的全国18家快运试点企业。 </p>
                            <p>上海大众物流有限公司成立于1999年，公司车辆资源实力雄厚，拥有各类吨位的厢式货运车辆900余辆，公司的货运出
                                租汽车服务和市内搬场服务这两大品牌在上海
                                已经家喻户晓，“要货的找大众”、“要搬运找大众” 已成为上海市民的首选，公司还拥有一支城市配送的专业管理团队和专业操作人员。</p>
                            <div class="learn-more pt-10">
                                <a class="s-btn circle black" href="">了解了！</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->
        <!-- features area start  -->
        <div class="features-box-area grey-light-bg pt-110 pb-120">
            <div class="container">
                <div class="row wow slideInUp">
                    <div class="col-xl-12">
                        <div class="section-title text-center mb-60">
                            <span class="category"></span>
                            <h2>我们的优势</h2>
                        </div>
                    </div>
                </div>
                <div class="features-box-wrapper">
                    <div class="row g-0 wow slideInUp">
                        <div class="col-xl-4 col-md-6">
                            <div class="features-box-single text-center">
                                <div class="features-box-icon">
                                    <i class="icofont-airplane-alt"></i>
                                </div>
                                <h4>物流优势</h4>
                                <p>顺丰电子商务产业园是顺丰集团借助已具备的强大营运能力，为满足电商企业全...</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="features-box-single text-center">
                                <div class="features-box-icon">
                                    <i class="icofont-truck-alt"></i>
                                </div>
                                <h4>规模优势</h4>
                                <p>顺丰电子商务产业园是顺丰集团借助已具备的强大营运能力，为满足电商企业全...
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="features-box-single text-center">
                                <div class="features-box-icon">
                                    <i class="icofont-truck"></i>
                                </div>
                                <h4>政策优势</h4>
                                <p>顺丰电子商务产业园是顺丰集团借助已具备的强大营运能力，为满足电商企业全...</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="features-box-single text-center">
                                <div class="features-box-icon">
                                    <i class="icofont-helicopter"></i>
                                </div>
                                <h4>服务优势</h4>
                                <p>顺丰电子商务产业园是顺丰集团借助已具备的强大营运能力，为满足电商企业全...</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="features-box-single text-center">
                                <div class="features-box-icon">
                                    <i class="icofont-sail-boat-alt-2"></i>
                                </div>
                                <h4>全球运输</h4>
                                <p>遍布世界各地的运输点</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="features-box-single text-center">
                                <div class="features-box-icon">
                                    <i class="icofont-scooter"></i>
                                </div>
                                <h4>享誉世界</h4>
                                <p>广受赞誉</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- features area end -->

    </main>
    <!-- footer area start  -->
    <footer>
        <div class="copyright__area copyright-bg pt-35">
            <div class="container">
                <div class="row wow slideInUp">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="copyright__text mb-35">
                            <p>Copyright<a href="#"> © Ernest 版权所有</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- Fullscreen search -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="请输入关键词...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end fullscreen search -->



    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/progresscircle.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>