<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <meta content="" name="robots">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Innap : Hotel Admin Template" name="description">

    <!-- PAGE TITLE HERE -->
    <title>新增用户</title>


    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
            Nav header start
        ***********************************-->
    <div class="nav-header">
        <a class="brand-logo" th:href="@{/man/index}">
            <img alt="logo" class="img-thumbnail" style="width: 70%; height: auto" th:src="@{/image/logo-4.png}">
        </a>
        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
            Header start
        ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class=" navbar-nav header-right alert alert-primary alert-dismissible fade show"
                     style="height:60%; margin-top: 5mm">
                    <svg class="me-2" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                        <line x1="9" x2="9.01" y1="9" y2="9"></line>
                        <line x1="15" x2="15.01" y1="9" y2="9"></line>
                    </svg>
                    <strong>欢迎使用 xx 公司后台管理</strong>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="deznav">
        <div class="deznav-scroll">
            <ul class="metismenu" id="menu">
                <li><a aria-expanded="false" class="has-arrow ai-icon" th:href="@{#}">
                    <i class="flaticon-013-checkmark"></i>
                    <span class="nav-text">用户管理</span>
                </a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/addUser}">添加用户</a></li>
                        <li><a th:href="@{/allUser}">用户管理</a></li>
                    </ul>

                </li>
                <li><a aria-expanded="false" class="has-arrow ai-icon" th:href="@{#}">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">运单管理</span>
                </a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/addOrder}">添加运单</a></li>
                        <li><a th:href="@{/allOrder}">运单列表</a></li>
                    </ul>
                </li>
                <!--留出来富余   后面再看-->
                <!--<li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{#}">
                    <i class="flaticon-086-star"></i>
                    <span class="nav-text">日程管理</span>
                </a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/man/addSche}">批量添加日程</a></li>
                        <li><a th:href="@{/man/viewSche}">查看日程</a></li>
                        <li><a aria-expanded="false" class="has-arrow" href="javascript:void(0)">教室日程管理</a>
                            <ul aria-expanded="false">
                                <li><a th:href="@{/man/classScheRoom}">按教室管理日程</a></li>
                                <li><a th:href="@{/man/classScheTime}">按时间管理日程</a></li>
                            </ul>
                        </li>
                        <li><a aria-expanded="false" class="has-arrow" href="javascript:void(0)">会议室日程管理</a>
                            <ul aria-expanded="false">
                                <li><a th:href="@{/man/meetScheRoom}">按会议室管理日程</a></li>
                                <li><a th:href="@{/man/meetScheTime}">按时间管理日程</a></li>
                            </ul>
                        </li>
                        <li><a aria-expanded="false" class="has-arrow" href="javascript:void(0)">实验室日程管理</a>
                            <ul aria-expanded="false">
                                <li><a th:href="@{/man/labScheRoom}">按实验室管理日程</a></li>
                                <li><a th:href="@{/man/labScheTime}">按时间管理日程</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{#}">
                    <i class="flaticon-043-menu"></i>
                    <span class="nav-text">用户管理</span>
                </a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/man/allManager}">管理员一览</a></li>
                        <li><a th:href="@{/man/userSet}">用户管理</a></li>
                        <li><a th:href="@{/man/addUser}">新增用户</a></li>

                    </ul>
                </li>

                <li>
                    <a aria-expanded="false" class="has-arrow ai-icon" th:href="@{#}">
                    <i class="flaticon-086-star"></i>
                    <span class="nav-text">个人资料</span>
                </a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/man/user/profile}">个人信息</a></li>
                    </ul>
                </li>-->
            </ul>

        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" style="width: 35%; margin-left: 7%; margin-right: 7%; float: left">
                        <div class="card-header">
                            <h4 class="card-title">新增用户</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="needs-validation" method="post" novalidate=""
                                      action="">
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="userName">姓名
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input class="form-control" id="userName" name="userName"
                                                   placeholder="请输入姓名.."
                                                   required="" type="text">
                                            <div class="invalid-feedback">
                                                请输入姓名
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="userPhone">手机
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input class="form-control" id="userPhone" name="userPhone"
                                                   placeholder="请输入手机.."
                                                   required="" type="tel">
                                            <div class="invalid-feedback">
                                                请输入手机
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="userPass">密码
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input class="form-control" id="userPass" name="userPass"
                                                   placeholder="请输入密码.."
                                                   required="" type="password">
                                            <div class="invalid-feedback">
                                                请输入密码
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="userType">类型
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <select class="default-select wide form-control" id="userType"
                                                    name="usertype">
                                                <option selected="selected">请选择用户身份类型</option>
                                                <option value="1">普通用户</option>
                                                <option value="2">vip 1</option>
                                                <option value="2">vip 2</option>
                                                <option value="2">vip 3</option>
                                                <option value="2">vip 4</option>
                                                <option value="2">vip 5</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                请任选一个等级
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-8 ms-auto">
                                            <button class="btn btn-primary" style="margin-top: 15px;" type="submit">
                                                添加普通用户
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; 2022. Ernest </p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->

    <!--**********************************
       Support ticket button start
    ***********************************-->

    <!--**********************************
       Support ticket button end
    ***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script th:src="@{/js/global.min.js}"></script>

<script th:src="@{/js/jquery.nice-select.min.js}"></script>

<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/deznav-init.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>
</body>
</html>