<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>公司主页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/preloader.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/progresscircle.css">
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

<!-- preloader area start -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
        </div>
    </div>

</div>
<!-- preloader area end -->

<!-- header area start  -->
<header>
    <div class="transparent-header transparent-header-2 header-sticky sticky-3">
        <div class="container">
            <div class="header__inner white-bg">
                <div class="row align-items-center">
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-8 col-sm-8">
                        <div class="header__left d-flex align-items-center justify-content-between justify-content-lg-start">
                            <div class="header__action-2 mr-40">
                                <ul>
                                    <li>
                                        <a class="side-toggle" href="javascript:void(0)">
                                            <i class="pe-7s-keypad"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="logo-1">
                                <a href="index.html">
                                    <img id="logo-4" src="assets/image/logo/logo-4.png" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-8 d-none d-lg-block">
                        <div class="main-menu main-menu-2 pl-20">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">主页</a></li>
                                    <li><a href="about.html">关于</a></li>
                                    <li><a href="services.html">服务</a></li>
                                    <li><a href="news.html">新闻</a></li>
                                    <li><a href="contact.html">联系</a></li>
                                    <!-- <li><a href="http://121.37.68.94/backindex">登录</a></li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-md-4 col-sm-4  ">
                        <div class="header__right d-flex justify-content-end justify-content-xxl-between align-items-center pr-20">
                            <div class="header__search d-none d-sm-block  d-lg-none d-xxl-block">
                                <button type="button" class="search-trigger"><i class="pe-7s-search"></i></button>
                            </div>
                            <div class="header__btn d-none d-xl-block">
                                <a id="loginBtn" href="" class="v-btn">登录<i class="fal fa-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
<!-- side toggle start  -->
<div class="fix">
    <div class="side-info">
        <div class="side-info-content">
            <div class="offset-widget offset-logo mb-30 pb-20">
                <div class="row align-items-center">
                    <div class="col-9"><a href="index.html"><img id="logo-5" alt="Logo"></a>
                    </div>
                    <div class="col-3 text-end">
                        <button class="side-info-close"><i
                                class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="mobile-menu d-lg-none"></div>
            <div class="offset-widget offset_searchbar mb-30">
                <form method="get" action="#">
                    <div class="offset_search_content">
                        <input type="search" placeholder="您在查找什么?">
                        <button type="submit" class="offset_search_button"><i class="fal fa-search"></i></button>
                    </div>
                </form>
            </div>

            <div class="offset-widget mb-40 d-none d-lg-block">
                <div class="info-widget">
                    <h4 class="offset-title mb-20 d-none">关于我们</h4>
                    <p class="mb-30">北京中凯国际物流有限公司，是由北京首都科技集团进出口部、北京利凯国际货运有限公司和北京联合诚信科贸
                        有限公司三方投资组建而成。我公司具有进出口代理经营权，国际货运一级代理
                        资格，代理报关和代理报检权，拥有物流监管车队和中转仓库。我公司并被国税
                        局认定为增值税一般纳税人资格，可从事商贸经营和出口退税。所以我公司集成
                        了专业外（商）贸公司和专业国际货运代理公司的优势，使得国际物流的综合业
                        务都可以在我公司得以完整实现；同时业务的综合性可以使得我们的客户得到全
                        方位的精准服务。目前我公司代理直客进出口货物年度总额达2000万美金以上。 </p>
                    <a href="#" class="c-btn btn-round-02 d-none">联系我们</a>
                </div>
            </div>

            <div class="row side-gallery gx-4">
                <div class="col-4 mb-20">
                    <div class="side-image">
                        <a class="popup-image pr-img1h" href="assets/img/projects/pr-img1.jpg"><img
                                class="pr-img1" src="assets/img/projects/pr-img1.jpg" alt="sidebar-img"></a>
                    </div>
                </div>
                <div class="col-4 mb-20">
                    <div class="side-image">
                        <a class="popup-image pr-img2h" href="assets/img/projects/pr-img2.jpg"><img
                                class="pr-img2" src="assets/img/projects/pr-img2.jpg" alt="sidebar-img"></a>
                    </div>
                </div>
                <div class="col-4 mb-20">
                    <div class="side-image">
                        <a class="popup-image pr-img3h" href="assets/img/projects/pr-img3.jpg"><img
                                class="pr-img3" src="assets/img/projects/pr-img3.jpg" alt="sidebar-img"></a>
                    </div>
                </div>
                <div class="col-4 mb-20">
                    <div class="side-image">
                        <a class="popup-image pr-img4h" href="assets/img/projects/pr-img4.jpg"><img
                                class="pr-img4" src="assets/img/projects/pr-img4.jpg" alt="sidebar-img"></a>
                    </div>
                </div>
                <div class="col-4 mb-20">
                    <div class="side-image">
                        <a class="popup-image pr-img5h" href="assets/img/projects/pr-img5.jpg"><img
                                class="pr-img5" src="assets/img/projects/pr-img5.jpg" alt="sidebar-img"></a>
                    </div>
                </div>
                <div class="col-4 mb-20">
                    <div class="side-image">
                        <a class="popup-image pr-img6h" href="assets/img/projects/pr-img6.jpg"><img
                                class="pr-img6" src="assets/img/projects/pr-img6.jpg" alt="sidebar-img"></a>
                    </div>
                </div>
            </div>

            <div class="side-map mt-20 mb-30 d-none d-lg-block">

            </div>


            <div class="contact-infos mt-30 mb-30">
                <div class="contact-list mb-30">
                    <h4>相关信息</h4>
                    <a href="#" class="">
                        <i class="fal fa-map-marker-alt"></i>
                        <span>北京市顺义区顺平路580号航城广场B座602室</span>
                    </a>
                    <a href="tel:01064329142" class="">
                        <i class="fal fa-phone"></i>
                        <span>010-64329142</span>
                    </a>
                    <a href="/cdn-cgi/l/email-protection#1b7a7f7672755b7f74767a727535787476" class="">
                        <i class="far fa-envelope"></i>
                        <span><span class="__cf_email__" data-cfemail="2746434a4e496743484a464e490944484a">finance002@linking.net.cn</span></span>
                    </a>

                </div>
                <ul class="footer__social offset-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!-- side toggle end -->
<main>

    <!-- hero area start -->
    <section class="hero__area hero__height p-relative black-bg-3 d-flex align-items-center fix" id="map"
             data-background="assets/img/hero/map.png">
        <div class="hero__bg" id="hero-bg" data-background="assets/img/hero/hero-bg.jpg"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-7 col-xl-6 col-lg-7 col-md-6">
                    <div class="hero__content-2">
                        <span>想要运输物品到任意地点？</span>
                        <h2 class="hero__title-2">运输业务正在进行中 </h2>
                        <div class="hero__btn">
<!--                            <a href="contact.html" class="v-btn mr-20">查询报价 <i-->
<!--                                    class="fal fa-arrow-alt-right"></i></a>-->
                            <a href="about.html" class="link-btn">了解更多</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-6 col-lg-5 col-md-6">
                    <div class="hero__thumb d-none d-md-block">
                        <img id="hero-1" src="assets/img/hero/hero-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero area end -->

<!--    &lt;!&ndash; contact map area start  &ndash;&gt;-->
<!--    <div>-->
<!--        <form method="post" id="searchForm" th:action="@{/oth/searchWaybill}">-->
<!--            <div class="g-5">-->
<!--                <div class="product__data">-->
<!--                    <div class="col-lg-4" style="width: 42%; float: left; margin: 4%; margin-bottom: 5px;">-->
<!--                        <input type="text" name="phone" value="发件人手机号" placeholder="发件人手机号">-->
<!--                    </div>-->
<!--                    <div class="col-lg-4" style="width: 42%; float: right; margin: 4%; margin-bottom: 5px;">-->
<!--                        <input type="text" name="wbNum" value="运单号" placeholder="运单号">-->
<!--                    </div>-->
<!--                    <button type="submit" class="request-quote shutter-btn">查询运单</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->


<!--    </div>-->
<!--    &lt;!&ndash; contact map area end &ndash;&gt;-->

    <!-- services area start -->
    <section class="services__area p-relative z-index-1 services__top pb-200">
        <div class="container">
            <div class="row">
                <form method="post" id="searchForm" th:action="@{/oth/searchWaybill}">
                    <div class="g-5">
                        <div class="product__data">
                            <div class="col-lg-4" style="width: 42%; float: left; margin: 4%; margin-bottom: 5px;">
                                <input type="text" name="phone" value="发件人手机号" placeholder="发件人手机号">
                            </div>
                            <div class="col-lg-4" style="width: 42%; float: right; margin: 4%; margin-bottom: 5px;">
                                <input type="text" name="wbNum" value="运单号" placeholder="运单号">
                            </div>
                            <button type="submit" class="request-quote shutter-btn">查询运单</button>
                        </div>
                    </div>
                </form>
                <div class="col-xxl-4 col-xl-4 col-lg-6 d-none d-xl-block">
                    <div class="services__card transition-3">
                        <div class="services__front">
                            <div class="services__item-3 text-center mt--85 transition-3">
                                <div class="services__inner-3">
                                    <div class="services__icon-3 mb-35">
                                        <i class="pe-7s-plane"></i>
                                    </div>
                                    <div class="services__content-3">
                                        <h3 class="services__title-3">
                                            <a href="">空运</a>
                                        </h3>
                                        <p>用最快的速度运输您的货物</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services__back">
                            <div class="services__item-3 services__item-middle text-center mt--85 transition-3">
                                <div class="services__inner-3">
                                    <div class="services__icon-3 mb-35">
                                        <i class="pe-7s-plane"></i>
                                    </div>
                                    <div class="services__content-3">
                                        <h3 class="services__title-3">
                                            <a href="">空运</a>
                                        </h3>
                                        <p>用最快的速度运输您的货物</p>
                                        <a href="services-freight.html" class="link-btn-2">了解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6  col-md-6">
                    <div class="services__card transition-3">
                        <div class="services__front">
                            <div class="services__item-3 text-center mt--85 transition-3">
                                <div class="services__inner-3">
                                    <div class="services__icon-3 mb-35">
                                        <i class="pe-7s-anchor"></i>
                                    </div>
                                    <div class="services__content-3">
                                        <h3 class="services__title-3">
                                            <a href="">航运</a>
                                        </h3>
                                        <p>跨越大洋的运输线</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services__back">
                            <div class="services__item-3 services__item-middle text-center mt--85 transition-3">
                                <div class="services__inner-3">
                                    <div class="services__icon-3 mb-35">
                                        <i class="pe-7s-anchor"></i>
                                    </div>
                                    <div class="services__content-3">
                                        <h3 class="services__title-3">
                                            <a href="">航运</a>
                                        </h3>
                                        <p>跨越大洋的运输线</p>
                                        <a href="services-freight.html" class="link-btn-2">了解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="services__card transition-3">
                        <div class="services__front">
                            <div class="services__item-3 text-center mt--85 transition-3">
                                <div class="services__inner-3">
                                    <div class="services__icon-3 mb-35">
                                        <i class="pe-7s-car"></i>
                                    </div>
                                    <div class="services__content-3">
                                        <h3 class="services__title-3">
                                            <a href="">陆运</a>
                                        </h3>
                                        <p>我们的陆运汽车 7x24 小时全天候工作</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services__back">
                            <div class="services__item-3 services__item-middle text-center mt--85 transition-3">
                                <div class="services__inner-3">
                                    <div class="services__icon-3 mb-35">
                                        <i class="pe-7s-car"></i>
                                    </div>
                                    <div class="services__content-3">
                                        <h3 class="services__title-3">
                                            <a href="">陆运</a>
                                        </h3>
                                        <p>我们的陆运汽车 7x24 小时全天候工作</p>
                                        <a href="services-freight.html" class="link-btn-2">了解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services area end -->

    <!-- about area start  -->
    <section class="about__area pt-315 pb-70">
        <div class="container">
            <div class="row wow slideInUp">
                <div class="col-xl-6">
                    <div class="about__content mb-30 p-relative">
                        <div class="section-title-wrapper mb-35">
                            <span class="section-pre-title">公司管理</span>
                            <h2 class="section-title-2">快捷可靠的物流和运输解决方案</h2>
                        </div>
                        <p>北京中凯国际物流有限公司以空运、航运、陆运为核心，可为客户提供专业的全程物流供应链解决方案。</p>

                        <div class="about__content-wrapper pr-165 mb-35 fix">
                            <div class="about__content-thumb mr-30 float-start">
                                <img id="about-img-1" src="assets/img/about/about-img-1.jpg" alt="">
                            </div>
                            <div class="about__content-text">
                                <p>我们致力于提供快捷便利的物流服务，连接中国各地与美国等多个国家和地区，确保分秒必争，准时速达。</p>
                            </div>
                        </div>
                        <a href="about.html" class="link-btn link-btn-3">了解更多</a>

                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about__img mb-30 f-right p-relative">
                        <div class="delivered d-none d-md-block">
                            <i class="flaticon-growth"></i>
                            <span>$20M+</span>
                            <p>货物年度总额高达</p>
                        </div>
                        <img id="about-01" src="assets/img/about/about-01.jpg" alt="logistics image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->

    <!-- features area start  -->
    <section class="features__area pt-50 pb-70">
        <div class="container">
            <div class="row align-items-center wow slideInUp">
                <div class="col-xl-6 col-lg-6">
                    <div class="special-features mb-30">
                        <ul>
                            <li>
                                <div class="features__icon">
                                    <i class="flaticon-logistics-delivery-ultrathin-transport"></i>
                                </div>
                                <div class="features__about">
                                    <h4> 便捷的物流跟踪 </h4>
                                    <p> 整个流程只需一个跟踪号就可以查询到所有信息 </p>
                                </div>
                            </li>
                            <li>
                                <div class="features__icon">
                                    <i class="flaticon-box-ultrathin-outline"></i>
                                </div>
                                <div class="features__about">
                                    <h4> 多个仓库 </h4>
                                    <p> 我们提供国内外多个接送地点 </p>
                                </div>
                            </li>
                            <li>
                                <div class="features__icon">
                                    <i class="flaticon-global-phone-service-ultrathin-business-sign"></i>
                                </div>
                                <div class="features__about">
                                    <h4> 专业的解决方案 </h4>
                                    <p> 我们的目标是快捷物流，服务互联世界 </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="features__content mb-30">
                        <div class="section-title-wrapper mb-35">
                            <span class="section-pre-title"></span>
                            <h2 class="section-title-2">致力于打造专业的国际物流服务</h2>
                        </div>
                        <p>北京中凯国际物流有限公司已经与中外多家船公司、航空公司、快件公司、中铁快运、集装箱堆场、大型车队等签订了代理协议和服务合约，所以完全便利地为客户提供进出口全程的门到门物流服务。</p>
                        <div class="support p-relative">
                            <div class="support__icon">
                                <i class="pe-7s-headphones"></i>
                            </div>
                            <div class="support__about">
                                <p>联系方式</p>
                                <span><a href="tel:01064329142">010-64329142</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features area end -->

    <!-- project area start -->
    <section class="project__area black-bg-3 pt-100 pb-100 fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 ">
                    <div class="project__content-2">
                        <div class="project__content-title">
                            <h2 class="stroke-text">$20M+</h2>
                            <h3 class="bold-text"> 进出口货物年度总额 </h3>
                        </div>
                        <p>北京中凯国际物流有限公司具有进出口代理经营权，国际货运一级代理资格，代理报关和代理报检权，拥有物流监管车队和中转仓库，国际物流的综合业务都可以在我公司得以完整实现。</p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-7 col-lg-6">
                    <div class="project__slider-2">
                        <div class="project-slider-active owl-carousel">
                            <div class="project__slider-item project__img">
                                <div class="project__slider-thumb w-img">
                                    <img id="project-1" src="assets/img/projects/01/project-1.jpg" alt="">
                                </div>
                                <div class="project__img-content project__img-content-2">
                                    <div class="project__img-content-inner">

                                        <h4><a href="">理货检验</a></h4>
                                    </div>
                                    <a id="project-1a" href="assets/img/projects/01/project-1.jpg"
                                       class="project-search popup-image"><i
                                            class="pe-7s-search"></i></a>
                                </div>
                            </div>
                            <div class="project__slider-item project__img project__img-content-2">
                                <div class="project__slider-thumb w-img">
                                    <img id="project-2" src="assets/img/projects/01/project-2.jpg" alt="">
                                </div>
                                <div class="project__img-content project__img-content-2">
                                    <div class="project__img-content-inner">

                                        <h4><a href="">工程物流</a></h4>
                                    </div>
                                    <a id="project-2a" href="assets/img/projects/01/project-2.jpg"
                                       class="project-search popup-image"><i
                                            class="pe-7s-search"></i></a>
                                </div>
                            </div>
                            <div class="project__slider-item project__img">
                                <div class="project__slider-thumb w-img">
                                    <img id="project-4" src="assets/img/projects/01/project-4.jpg" alt="">
                                </div>
                                <div class="project__img-content project__img-content-2">
                                    <div class="project__img-content-inner">

                                        <h4><a href="">综合货运</a></h4>
                                    </div>
                                    <a id="project-4a" href="assets/img/projects/01/project-4.jpg"
                                       class="project-search popup-image"><i
                                            class="pe-7s-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project area end -->

    <!-- users area start  -->
    <section class="users__area pt-100 pb-70 grey-bg">
        <div class="container">
            <div class="row wow slideInUp">
                <div class="col-xl-7">
                    <div class="users mb-30">
                        <div class="section-title-wrapper mb-35">
                            <span class="section-pre-title"></span>
                            <h2 class="section-title-2 section-title-3">合作伙伴</h2>
                        </div>
                        <div class="brands">
                            <ul class="brand-line brand__active">
                                <li><img class="brand-012" src="assets/img/brands/brand-012.png" alt=""></li>
                                <li><img class="brand-022" src="assets/img/brands/brand-022.png" alt=""></li>
                                <li><img class="brand-032" src="assets/img/brands/brand-032.png" alt=""></li>
                                <li><img class="brand-012" src="assets/img/brands/brand-012.png" alt=""></li>
                                <li><img class="brand-022" src="assets/img/brands/brand-022.png" alt=""></li>
                                <li><img class="brand-032" src="assets/img/brands/brand-032.png" alt=""></li>
                            </ul>
                            <ul class="brand-line second p-relative brand__active">
                                <li><img class="brand-042" src="assets/img/brands/brand-042.png" alt=""></li>
                                <li><img class="brand-052" src="assets/img/brands/brand-052.png" alt=""></li>
                                <li><img class="brand-062" src="assets/img/brands/brand-062.png" alt=""></li>
                                <li><img class="brand-042" src="assets/img/brands/brand-042.png" alt=""></li>
                                <li><img class="brand-052" src="assets/img/brands/brand-052.png" alt=""></li>
                                <li><img class="brand-062" src="assets/img/brands/brand-062.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="testimonial__active">
                        <div class="testimonial">
                            <div class="testimonial__content p-relative">
                                <div class="quote">
                                    <img class="quoteImg" src="assets/img/icon/quote.png" alt="">
                                </div>
                                <ul class="star st-red">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>我公司在国内外建有自己的网络体系，以北京为
                                    核心业务辐射世界各地。国内已经在天津、青岛、
                                    大连、上海、广州、深圳等各主要港口城市设有
                                    自己的办事处；国外在欧洲，美洲，澳洲，东南
                                    亚，中东等地都拥有自己的合作代理。经过多年
                                    的发展，我公司已经与中外多家船公司、航空公
                                    司、快件公司、中铁快运、集装箱堆场、大型车
                                    队等签订了代理协议和服务合约，可以完全便利
                                    地为客户提供进出口全程的门到门物流服务。</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- users area end -->
    <!-- news area start  -->
    <section class="blog__area pt-100 pb-20">
        <div class="container">
            <div class="row wow slideInUp align-items-center">
                <div class="col-xxl-5 offset-xxl-1 col-xl-5">
                    <div class="section-title-wrapper section-title-pl-55 mb-35">
                        <span class="section-pre-title"></span>
                        <h2 class="section-title-2">新闻</h2>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-5">
                    <div class="form__quote mb-35">
                        <blockquote>
                            <p>公司新闻动态 </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row wow slideInUp">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="blog__post mb-30">
                        <div class="blog__img p-relative">
                            <div class="blog__thumb">
                                <a href=""><img id="post-01" src="assets/img/post/post-01.jpg" alt=""></a>
                            </div>
                            <div class="blog__date">
                                <p><span>11-09</span>2015</p>
                            </div>
                        </div>
                        <div class="blog__content">
                            <span></span>
                            <h4><a href="">吴清一教授参观我司正中集... </a></h4>
                            <p>
                                2015年8月24日，原北京科技大学教授、物流研究所所长吴清一教授在张永清、徐峰两位副总裁的陪同下来到位于...</p>
                            <a href="news.html">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="blog__post mb-30">
                        <div class="blog__img p-relative">
                            <div class="blog__thumb">
                                <a href=""><img id="post-02" src="assets/img/post/post-02.jpg" alt=""></a>
                            </div>
                            <div class="blog__date">
                                <p><span>11-09</span>2015</p>
                            </div>
                        </div>
                        <div class="blog__content">
                            <span></span>
                            <h4><a href="">智能制造今天国际亮相上海... </a></h4>
                            <p>
                                8月26日，第七届中国（上海）国际锂电工业展览会在上海新国际博览中心隆重开幕，展览为期三天，今天国际...</p>
                            <a href="news.html">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="blog__post mb-30">
                        <div class="blog__img p-relative">
                            <div class="blog__thumb">
                                <a href=""><img id="post-03" src="assets/img/post/post-03.jpg" alt=""></a>
                            </div>
                            <div class="blog__date">
                                <p><span>11-09</span>2015</p>
                            </div>
                        </div>
                        <div class="blog__content">
                            <span></span>
                            <h4>
                                <a href="">今天国际被评为中国银行...</a>
                            </h4>
                            <p>
                                鉴于今天国际的优良信誉及良好的发展前景，中国银行深圳分行将我司列为分行级重点客户。2015年7月31日，中...</p>
                            <a href="news.html">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news area end -->
    <!-- cta area start  -->
    <div class="cta__area theme-bg">
        <div class="container">
            <div class="row align-items-center wow slideInUp">
                <div class="col-lg-3 col-md-12">
                    <form action="#">
                        <div class="mail-address">
                            <input type="text" placeholder="输入邮箱地址">
                            <button type="submit"><i class="fal fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="cta__content f-right">
                        <ul>
                            <li>
                                <div class="cta__icon">
                                    <i class="flaticon-support"></i>
                                </div>
                                <div class="cta__meta">
                                    <p>免费客服</p>
                                    <span><a href="tel:01064329142">010-64329142</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="cta__icon">
                                    <i class="flaticon-stopwatch"></i>
                                </div>
                                <div class="cta__meta">
                                    <p>工作时间</p>
                                    <span>8:00-18:00  周一 -- 周五</span>
                                </div>
                            </li>
                            <li>
                                <div class="support-img">
                                    <img id="cta-img" src="assets/img/cta/cta-img.png" alt="">
                                </div>
                                <div class="cta__meta text-end">
                                    <span>在线支持</span>
                                    <p>小明</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta area end -->
</main>
<!-- footer area start  -->
<footer>
    <section class="footer__area pt-100 pb-70 footer-bg">
        <div class="container">
            <div class="row wow slideInUp">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title">
                            <h5>关于我们</h5>
                        </div>
                        <p>  北京中凯国际物流有限公司成立于2008年，是经国家商务部
                            批准，由北京首都科技集团进出口部、北京利凯国际货运有
                            限公司和北京联合诚信科贸有限公司三方投资组建而成。我
                            公司以空运、航运、陆运为核心，可为客户提供专业的全程
                            物流供应链解决方案。具有良好的口碑和服务能力，为各类
                            商品的报关和运输提供专业服务。我们的目标是快捷物流，
                            服务互联世界。
                        </p>
                        <div class="footer__address">
                            <img id="pin-icon" src="assets/img/icon/pin-icon.png" alt="">
                            <span>北京市顺义区顺平路580号航城广场B座602室</span>
                        </div>
                        <ul class="footer__social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--                    <div class="col-xl-3 col-lg-6 col-md-6">-->
                <!--                        <div class="footer__widget mb-30 pl-70">-->
                <!--                            <div class="footer__widget-title">-->
                <!--                                <h5>Reservations</h5>-->
                <!--                            </div>-->
                <!--                            <ul class="footer__list">-->
                <!--                                <li><a href="#">Make a Reservation</a></li>-->
                <!--                                <li><a href="#">View or Cancel Rental</a></li>-->
                <!--                                <li><a href="#">Roadside Assistance</a></li>-->
                <!--                                <li><a href="#">Terms & Conditions</a></li>-->
                <!--                                <li><a href="#">Protections & Coverages</a></li>-->
                <!--                                <li><a href="">Products & Services</a></li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title">
                            <h5>我们的服务</h5>
                        </div>
                        <ul class="footer__list">
                            <li><a href="">海运、空运进出口货物的国际运输代理等业务</a></li>
                            <li><a href="">仓储配送和第三方物流服务</a></li>
                            <li><a href="">国内航空、汽运和铁路快运等延伸业务</a></li>
                            <li><a href="">国际贸易和代理产品批发零售</a></li>
                            <li><a href="">代理进出口、货物进出口、技术进出口</a></li>
                            <li><a href="">进出口贸易及国际运输等相关业务的咨询</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer__widget mb-30 ml--40">
                        <div class="footer__widget-title">
                            <h5>新闻列表</h5>
                        </div>
                        <div class="footer__blog">
                            <div class="blog__sm-item mb-30 fix">
                                <div class="blog__sm-thumb float-start mr-20">
                                    <a href="">
                                        <img id="blog-sm-1" src="assets/img/news/footer/blog-sm-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog__sm-content">
                                    <div class="blog__sm-meta">
                                        <span>2015-11-09</span>
                                    </div>
                                    <h3 class="blog__sm-title">
                                        <a href="">吴清一教授参观我司正中集... </a>
                                    </h3>
                                </div>
                            </div>
                            <div class="blog__sm-item mb-30 fix">
                                <div class="blog__sm-thumb float-start mr-20">
                                    <a href="">
                                        <img id="blog-sm-2" src="assets/img/news/footer/blog-sm-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog__sm-content">
                                    <div class="blog__sm-meta">
                                        <span>2015-11-09</span>
                                    </div>
                                    <h3 class="blog__sm-title">
                                        <a href="">智能制造今天国际亮相上海...</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright__area copyright-bg pt-35">
        <div class="container">
            <div class="row wow slideInUp">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="copyright__text mb-35">
                        <p>Copyright<a href="#"> © Ernest 版权所有</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="请输入关键词...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->


<!-- JS here -->
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/searchWB.js"></script>
<script src="assets/js/test.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.meanmenu.min.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.scrollUp.min.js"></script>
<script src="assets/js/waypoint.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/progresscircle.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

<script src="assets/js/jquery.scrollUp.min.js"></script>

</body>

</html>