<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>新闻</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/preloader.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/progresscircle.css">
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    
    <!-- preloader area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
         
    </div>
    <!-- preloader area end -->

    <!-- header area start  -->
    <header>
        <div class="transparent-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="logo">
                            <a href="index.html"><img class="logoImg" src="assets/img/logo/logo.png" alt="site logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                        <div class="main-menu ml-40">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">主页</a></li>
                                    <li><a href="about.html">关于</a></li>
                                    <li><a href="services.html">服务</a></li>
                                    <li><a href="news.html">新闻</a></li>
                                    <li><a href="contact.html">联系</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="header__icons f-right">
                            <ul>
                                <li><a class="nav-search search-trigger" href="#"><i class="pe-7s-search"></i></a></li>
                                <li><a href="#"><i class="pe-7s-cart"></i></a></li>
                                <li><a class="side-toggle" href="javascript:void(0)"><i class="pe-7s-keypad"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- side toggle start  -->
    <div class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset-widget offset-logo mb-30 pb-20">
                    <div class="row align-items-center">
                        <div class="col-9"><a href="index.html"><img class="logoImg" src="assets/img/logo/logo.png" alt="Logo"></a>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i
                                    class="fal fa-times"></i></button></div>
                    </div>
                </div>
                <div class="mobile-menu d-lg-none"></div>
                <div class="offset-widget offset_searchbar mb-30">
                    <form method="get" action="#">
                        <div class="offset_search_content">
                            <input type="search" placeholder="您在查找什么?">
                            <button type="submit" class="offset_search_button"><i class="fal fa-search"></i></button>
                        </div>
                    </form>
                </div>

                <div class="offset-widget mb-40 d-none d-lg-block">
                    <div class="info-widget">
                        <h4 class="offset-title mb-20 d-none">关于我们</h4>
                        <p class="mb-30">北京中凯国际物流有限公司，是由北京首都科技集团进出口部、北京利凯国际货运有限公司和北京联合诚信科贸
                            有限公司三方投资组建而成。我公司具有进出口代理经营权，国际货运一级代理
                            资格，代理报关和代理报检权，拥有物流监管车队和中转仓库。我公司并被国税
                            局认定为增值税一般纳税人资格，可从事商贸经营和出口退税。所以我公司集成
                            了专业外（商）贸公司和专业国际货运代理公司的优势，使得国际物流的综合业
                            务都可以在我公司得以完整实现；同时业务的综合性可以使得我们的客户得到全
                            方位的精准服务。目前我公司代理直客进出口货物年度总额达2000万美金以上。 </p>
                        <a href="#" class="c-btn btn-round-02 d-none">联系我们</a>
                    </div>
                </div>

                <div class="row side-gallery gx-4">
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image pr-img1h" href="assets/img/projects/pr-img1.jpg"><img
                                   class="pr-img1" src="assets/img/projects/pr-img1.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image pr-img2h" href="assets/img/projects/pr-img2.jpg"><img
                                    class="pr-img2" src="assets/img/projects/pr-img2.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image pr-img3h" href="assets/img/projects/pr-img3.jpg"><img
                                    class="pr-img3" src="assets/img/projects/pr-img3.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image pr-img4h" href="assets/img/projects/pr-img4.jpg"><img
                                    class="pr-img4" src="assets/img/projects/pr-img4.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image pr-img5h" href="assets/img/projects/pr-img5.jpg"><img
                                    class="pr-img5" src="assets/img/projects/pr-img5.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                    <div class="col-4 mb-20">
                        <div class="side-image">
                            <a class="popup-image pr-img6h" href="assets/img/projects/pr-img6.jpg"><img
                                    class="pr-img6" src="assets/img/projects/pr-img6.jpg" alt="sidebar-img"></a>
                        </div>
                    </div>
                </div>

                <div class="side-map mt-20 mb-30 d-none d-lg-block">

                </div>



                <div class="contact-infos mt-30 mb-30">
                    <div class="contact-list mb-30">
                        <h4>相关信息</h4>
                        <a href="#" class="">
                            <i class="fal fa-map-marker-alt"></i>
                            <span>北京市顺义区顺平路580号航城广场B座602室</span>
                        </a>
                        <a href="tel:01064329142" class="">
                            <i class="fal fa-phone"></i>
                            <span>010-64329142</span>
                        </a>
                        <a href="/cdn-cgi/l/email-protection#1b7a7f7672755b7f74767a727535787476" class="">
                            <i class="far fa-envelope"></i>
                            <span><span class="__cf_email__" data-cfemail="2746434a4e496743484a464e490944484a">finance002@linking.net.cn</span></span>
                        </a>

                    </div>
                    <ul class="footer__social offset-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <!-- side toggle end -->
    <main>
        <!-- page title area start  -->
        <div class="page-title-area d-flex align-items-center p-relative">
            <nav class="breadcrumb-menu" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                    <li class="breadcrumb-item active" aria-current="page">新闻</li>
                </ol>
            </nav>
            <div class="container">
                <div class="row align-items-center pt-60">
                    <div class="col-md-7 wow slideInLeft">
                        <div class="page-title-content">
                            <p>想要运输物品到任意地点？</p>
                            <h1>公司新闻</h1>
                        </div>
                    </div>
                    <div class="col-md-5 wow slideInRight">
                        <div class="page-title-img f-right d-none d-sm-block">
                            <img id="cargo-image-sm" src="assets/img/slider/cargo-image-sm.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <section class="n-blog__area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="n-blog__left pr-10">
                            <div class="n-blog__single mb-40">
                                <div class="n-blog__img">
                                    <a href=""><img id="blog-img1" src="assets/img/news/blog-img1.jpg"
                                            alt="logistics and transport image"></a>
                                </div>
                                <div class="n-blog__content p-relative">
                                    <h4><a href="">吴清一教授参观我司正中集...</a></h4>
                                    <p>2015年8月24日，原北京科技大学教授、物流研究所所长吴清一教授在张永清、徐峰两位副总裁的陪同下来到位于...</p>
                                    <ul class="n-blog__meta">
                                        <li><a href=""><i class="fal fa-eye"></i>100 查看</a></li>
                                        <li><a href=""><i class="fal fa-comments"></i>30 评论</a>
                                        </li>
                                        <li><i class="fal fa-calendar-alt"></i>2015-11-09</li>
                                    </ul>
                                    <span class="b-tag">商业</span>

                                </div>
                            </div>
                            <div class="n-blog__single mb-40">
                                <div class="n-blog__img">
                                    <a href=""><img id="blog-img2" src="assets/img/news/blog-img2.jpg"
                                            alt="logistics and transport image"></a>
                                    <a href="https://www.youtube.com/watch?v=IQALeHjPViU"
                                        class="sd-play play_btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="n-blog__content p-relative">
                                    <h4><a href="">智能制造今天国际亮相上海...</a></h4>
                                    <p>8月26日，第七届中国（上海）国际锂电工业展览会在上海新国际博览中心隆重开幕，展览为期三天，今天国际...</p>
                                    <ul class="n-blog__meta">
                                        <li><a href=""><i class="fal fa-eye"></i>100 查看</a></li>
                                        <li><a href=""><i class="fal fa-comments"></i>30 评论</a>
                                        </li>
                                        <li><i class="fal fa-calendar-alt"></i>2015-11-09</li>
                                    </ul>
                                    <span class="b-tag">商业</span>

                                </div>
                            </div>
                            <div class="n-blog__single mb-40">
                                <div class="n-blog__img">
                                    <a href=""><img id="blog-img3" src="assets/img/news/blog-img3.jpg"
                                            alt="logistics and transport image"></a>
                                </div>
                                <div class="n-blog__content p-relative">
                                    <h4><a href="">今天国际被评为中国银行...</a></h4>
                                    <p>鉴于今天国际的优良信誉及良好的发展前景，中国银行深圳分行将我司列为分行级重点客户。2015年7月31日，中...</p>
                                    <ul class="n-blog__meta">
                                        <li><a href=""><i class="fal fa-eye"></i>100 查看</a></li>
                                        <li><a href=""><i class="fal fa-comments"></i>30 评论</a>
                                        </li>
                                        <li><i class="fal fa-calendar-alt"></i>2015-11-09</li>
                                    </ul>
                                    <span class="b-tag">商业</span>

                                </div>
                            </div>
                            <div class="n-quote">
                                <i class="fas fa-quote-left"></i>
                                <h4>链接全球</h4>
                            </div>
                            <div class="news-pagination text-center mt-50">
                                <nav class="d-inline-block" aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="news.html" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link active" href="news.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="news.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="news.html">3</a></li>
                                        <li class="page-item"><a class="page-link" href="news.html">...</a></li>
                                        <li class="page-item"><a class="page-link" href="news.html">10</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="news.html" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="news-sidebar">
                            <div class="row">

                                <div class="col-lg-12 col-md-12">
                                    <div class="n-sidebar-widget">
                                        <div class="sidebar-title">
                                            <h4><span>01.</span> 查找</h4>
                                        </div>
                                        <div class="n-sidebar-search">
                                            <input type="text" placeholder="输入关键字...">
                                            <a href="#"><i class="fal fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="n-sidebar-widget">
                                        <div class="sidebar-title">
                                            <h4><span>02.</span> 热度榜</h4>
                                        </div>
                                        <div class="n-sidebar-feed">
                                            <ul>
                                                <li>
                                                    <div class="feed-number">
                                                        <span>01</span>
                                                    </div>
                                                    <div class="feed-content">
                                                        <h6><a href="">吴清一教授参观我司正中集...</a></h6>
                                                        <span class="feed-date">
                                                            <i class="fal fa-calendar-alt"></i> 2015-11-09
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="feed-number">
                                                        <span>02</span>
                                                    </div>
                                                    <div class="feed-content">
                                                        <h6><a href="">智能制造今天国际亮相上海... </a></h6>
                                                        <span class="feed-date">
                                                            <i class="fal fa-calendar-alt"></i> 2015-11-09
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="feed-number">
                                                        <span>03</span>
                                                    </div>
                                                    <div class="feed-content">
                                                        <h6><a href="">今天国际被评为中国银行...</a></h6>
                                                        <span class="feed-date">
                                                            <i class="fal fa-calendar-alt"></i> 2015-11-09
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer area start  -->
    <footer>
        <div class="copyright__area copyright-bg pt-35">
            <div class="container">
                <div class="row wow slideInUp">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="copyright__text mb-35">
                            <p>Copyright<a href="#"> © Ernest 版权所有</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- Fullscreen search -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="请输入关键词...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end fullscreen search -->



    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/progresscircle.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/test.js"></script>
</body>

</html>